In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data/osaka.csv")
df.head()

,date,mean temperature,maximum temperature,minimum temperature,rainfall,daylight,steam pressure,cloudiness,wind spped,fallen snow
0,2022/1/1,3.8,7.2,1.9,0.0,4.7,4.9,7.8,2.3,0
1,2022/1/2,4.8,9.5,-0.1,0.0,9.0,5.5,1.5,1.5,0
2,2022/1/3,7.7,11.5,3.5,0.0,9.0,5.8,3.5,1.8,0
3,2022/1/4,7.1,9.9,4.5,0.0,3.3,5.7,7.0,3.0,0
4,2022/1/5,4.9,8.1,3.1,0.0,2.6,5.1,7.3,2.0,0